﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="cartesian.aspx.cs" Inherits="bonus_assignment.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
            
<asp:label runat="server">enter the value of x:</asp:label>
<asp:textbox id="value_x" runat="server"></asp:textbox><BR/>

<asp:label runat="server">enter the value of y:</asp:label>
<asp:textbox id="value_y" runat="server"></asp:textbox><br/>
<asp:button id="clik" runat="server" text="submit" OnClick="on_click" />
<div id="output" runat="server">
        </div>
    </form>
</body>
</html>
