﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="divisible_sizzible.aspx.cs" Inherits="bonus_assignment.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">

        <div>
            <asp:Label id="label" runat="server">enter number</asp:Label>
            <asp:TextBox id="number" runat="server"></asp:TextBox>
            <asp:Button ID="button" runat="server" Text="submit" OnClick="click"/>
        </div>
        <div id="result" runat="server">
             
        </div>
    </form>
</body>
</html>
