﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="string_bling.aspx.cs" Inherits="bonus_assignment.WebForm3" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label id="label" runat="server">enter string</asp:Label>
            <asp:TextBox id="stg" runat="server"></asp:TextBox>
            <asp:Button ID="button" runat="server" Text="submit" OnClick="click"/>
        </div>
        <div id="output" runat="server">
             
        </div>
   
     
    </form>
</body>
</html>
